<!--Aafaq Muzaffar-301190210-10-Oct-2022-->
<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 


  <!--Main Section-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the My <%= title %> Page</h1>
    </br>
    <img src="https://lh3.googleusercontent.com/-wsfz9vLTUDGBnARP-TOwZCAQmJLVZTM8AelK_T-bYXXFY7C_WPttDQpEzuhpPrt6DcmghosDoP3q9j1-7wko8M4zFdYGAN0FNtAkNZoR9UpDb-NGeh5R68_3pbGEpPr53v9_8-EdThhnOPdmLCjG4tYnF4PcnO3GZiQdnGW4y2MhAKM_VqdtDmotmRWapBAcI6ws9XrKCeYmsYQD02q2wgWvsYovt7Cdy94LEtUWC4crW3SY2TmkVXbjz40iw-YPGBN8b-UnBknk5XzsCdBflOGBPZW9KadoaX2DdniBc8bLoCGQfWUWa2DddiJdV8ER7OFJGR9ln1hjrrDO0aMLoNOFkBV_ux3Zka9cXxOBm7lL5rji6k17Me6pR3DUT46CNHS8rBx-fWJjPuUgMbZj2UlVWB68nuMHjHL7OJGyj_6PKPQXCiUAvVJU7rY_P336XvgAQ0CFsfdEdkbEtuwb9Ht7Wa3vvKU9Y5ykXEyp8GqFJRM9tz98f-m81J88QJc7E7tRcZhnJkn1rhsSbbWNMbmmYkoG4mRO6chISavk9qbxsl7XrUiLrRraej3qwX_YCp-Yo0ve1f94Vc5PaG9phghv5dx1MwiEOXQKsnAbi0WWlFHXPS7ATqIz0L4Kks1N9uRddmZzsy7gD0m3D0N5BOnJigL9Cvsr3WawYHS7d8fGn3KMdY1gKt_3K9S6_BOLYE-NJDenWfzM0DbnizeT8dR2LSzuRE6D-aHHRK_8L761WgA_9HpLNJB7Muh9C6gpm_69RAXtFB1JExP5TrA04vtR9Fy3eMaMozIiEUaXBR9CKy0pK7qjNtJATiiOz0VvOHMjHQpR1ijOzueIGmZG6pe2kxDHArmri1iYGEHomiwcXbQKsYptrwCokyDnLc8dm_CetbU3IuY3KfpWEwy1U5DAHOIZURmGUUx8EBZzI-HNkh-9aNm4uRskuiVBCdk8G9ULowv5tpCEFYdMtODrTneZzNaQmQK6TtZbJ-K1NP_YUQ=w1073-h836-no?authuser=1" alt="project1" width="800" height="400">
    </br>
    <h4>Online Form for Member Registeration</h4>
    </br>
    <img src="https://lh3.googleusercontent.com/jJl6wuhp1LiMavLHRY7BFW-wWIJuujQQX8jvwysZilvqEgRxRXy0CB91KPxm3Dl_n3jEsnazdS8-lT1-uhbUDCoxZO_ONBVNzyrqfX-Sl1H5FsZtf979fajZubaQmYSvCZ-0LnvRz8M7pNzAS6Kj7fFPMkfWNwSjN59nc6bjMMogF0D-JShAxC2AoKQzjmAIwOVJXLWTyO7Or1RWi3TTVPXhMNm64uwVsaYF6ketMbC-xuwMDvA-_pwAx0lzBU4-bsXI2apM-7PXgf9mm75Epd5TYv8Mou8OtMcBzvTuiekVilWML-XK0zL2TBk4kcT0_gIXdK3YSApnqk04omuM4aPb9SinE3vd-qagr3SkXOMz7aOL46Ucxarszrmh6AXIaDQfgMyMgtblRwL5O2_r88fiRqdlcaVAtW-1SgfT3yxGhTh6bFb0TxhLbJCPoGixqFu1NsxstZoSrYMzMZafyAl8ZgUNiqZFQQ1tYGt_5hHsQqAlGnZc-OfVaBeBOdE6OdPE61rsRVpJo_xgTC0i5WP0rfCerppkSGvLXiG0Ir6zfok7r3ULEwyS0qXDqCuTX2P-ncTLL1VGBsJ10MN6VrOOAIz-dh37p07rknve1inApPwDTAjEq_hdY2zn58OGajPuTpG7pxZVMOOzUq2jlDcVQlcnvplvSKCFe0tDhDMjonIoOuw63HnoUVr-k5dsk6YZTxX5RxXRFioGWqFqdRiNFzuignam_prhMtO5bekWeb3CKW1HpePijg9BNmaHiZEguEbnNuT8Lknzd4ZNIH7XjqlL2_uVoItwNGRwVqQ-A421U356FIrbiLhzNxHpCMZuJMdvAbW4tclXP7EGBtyMMNetRNi9W74LREfHK1B8M2W9TNyznRefPRCCxp3ajFGvJSS4q7eUcKpIcgfiRDZy9UyGaS5Qu4WefdEM9q3h0WqS5w6ie4APg1QtoaT4vonJdYnQD2CdjWYG97iYsbFWwPnzamO0459uYlpxUR_tlvU=w1896-h847-no?authuser=1" alt="project2" width="800" height="400">
    </br>
    <h4>Online Profile Portfolio</h4>
    </br>
    <img src="https://lh3.googleusercontent.com/Xf02Ckt2rVo37o0XpLQXH2g-0RIEH6v4kOLIYNANYQgDJvIchr2yDKYjI3WQlc99vUPRXmHArklwbnxfzM8KcPAXZlLJ8WrMNTcslb0YpNitR9WNtVp9edcO3IE-J___zaMoWVqXH5fLh6VKSc4MQx6CyD716mbK6XsQDDkqHs1N8ktgjtl8JHrKV8kY8Es-W77WrjRRgodw-cvEJbGxngByey7eTZ4yZvPbBnJl-bfeU0-yDM_cU-J7IGUM7uwQnsuzLjuoABle0CYYWck5dyofCCrc3Ch1MJ0jQT7cZyVUDb9UFNjvzd4rgcbHPHJbIqbeyt2c3-3RVoVXRwlEZ_lRJK9gG6swk-gugxk34ehTpbDpBYjDVSGcsb1fV0QMaYcp9vCxBpS7RlKyx4fwsQK8QoFen3BUWYDQSkMsdjll5eO05i6N776HdK2SCM77NGzdi3LmojvXQ8XYVpY78j25id37NRnKIjkI76cVAKTkO6-4BAkYELj6YcN7Sj8B735dn6Ay_UbO2wl46_in3e84b2l401ZFTENfR3FDd-zxLxE188mTjRKmzFbPI-8jdwXV89IjNeYSY-Cp496cyc1Wz67RjYbto9LQJsCbugkS9BG9IsQRL0VEzwfSGgW9Jr6J5RgG7QNQTXq4qipxOUHxorrHlyV_gm2S_vMObTAyY4RvJfvaMls2LLvpxieykrkGeHi5guMONWREv_xpEvSjFDy3sw5MHbrg7Ygltqom4Ubeem91wKFPfN3vFyaB4V_p6_eXBlg4_7hTWhuCE9r-aIG0cSOndoFEBlGYIwCIn3gQNclZ9D8BHr81EuFW-GNt-T93LY1b2zAKDm_kWZXF-MqaC_XEmvykz4T049MIQLuOPPNu00JZSfHndrL4AxlPT_pV7uqZ6UlPB1Zwmy-5UwEEHM19DMLNlVenHTdPmZRpBw7I4gtoZPqJArmz3gqjhlrlatrLZU9nJh5Vy90Z72cAJwoJzxS0TXz-2Efms3Y=w1541-h876-no?authuser=1" alt="project3" width="800" height="400">
    </br>
    <h4>Real Estate Agent Website</h4>
    </br>
    </br>
    </div>
    </br>
    </br>
  </main>


<%- include partials/bottom_nav.ejs %> 
  
  
<%- include partials/footer.ejs %> 
  